html,body{
	padding:0px;
	margin:0px;
}
#north{
	 position:relative;
	 height:100%;
	 width:100%;
	 color:#000;
	 background-image:url("../../image/materials/header_bg.png");
	 background-position:-15px -180px;
	 background-repeat:no-repeat;
	 overflow:hidden;
}
.logout_div{
	position:absolute;
	top:55px;
	right:5px;
}
.frosted_glass{
	position:absolute;
	height:100%;
	width:500px;
	top:0px;
	left:0px;
	background-color:#fff;
	overflow:hidden;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	opacity:0.5;
}
.frosted_glass #title{
	margin:25px 0px 0px 60px;
}
#north .frosted_glass{}