html,body{
	padding:0px;
	margin:0px;
}
#north{
	 position:relative;
	 height:100%;
	 width:100%;
	 color:#000;
	 background-image:url("../../image/backimage.png");
	 background-position:center;
	 background-repeat:repeat-x;
	 overflow:hidden;
}
.logout_div{
	position:absolute;
	top:55px;
	right:5px;
}
.frosted_glass{
	position:absolute;
	height:100%;
	width:500px;
	top:0px;
	left:0px;
	background-color:#fff;
	overflow:hidden;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	opacity:0.5;
}
.frosted_glass #title{
	margin:15px 0px 0px 60px;
}
.frosted_glass #title h1{
	display:inline-block;
}
.re_div{
	position:relative;
}
.logout_div .login_info{
	display: inline-block;
	background-color: #4c8bce;
	height: 24px;
	line-height: 24px;
	border-radius: 3px;
	min-width: 50px;
	padding: 0 5px;	
	filter:alpha(opacity=80); 
	-moz-opacity:0.8; 
	opacity:0.8;
	color:#fff;
}
.login_info a{
	color:#fff;
	text-decoration:none;
}
.login_info a:hover{
	color:yellow;
	text-decoration:none;
}