@CHARSET "UTF-8";
/* map element */
#map {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
/* legend element */
#info {
    width: 25%;
    height:25%;
    background-color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border: 2px double #95B8E7;
}
/*overridemap*/
.esriOverviewMap.ovwBL .ovwContainer {
	border:none;
	border: 1px solid #95B8E7;
    border-radius: 10px;
	
}   

.esriOverviewMap .ovwContainer {
	
     background-color: #95B8E7; 
}
